
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}
/* ----- NAVBAR ----- */
.navbar {
  background: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #3fb843;
}
.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: sans-serif;
  transition: 0.3s;
}
.navbar .phone {
  font-weight: bold;
}
.navbar nav a:hover{
    color: #3fb843;

}
/* ----- HERO ----- */
.hero {
  background: #3fb843;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  color: white;
  height: 400px;
}
.hero-content {
  max-width: 40%;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.hero-content p {
  font-size: 30px;
  margin-bottom: 30px;
}
.hero-content button {
  background: white;
  color: #3fb843;
  padding: 15px 30px;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.3s;
}
.hero-content button:hover {
  border-color: #ffffff; /* рамка появилась */
  color: #ffffff;
  background-color:#3fb843 ;
}
.hero-content button:active {
  transform: scale(0.92);
}
.hero-img img {
  width: 800px;
}
/* ----- CATALOG ----- */
.catalog {
  padding: 40px 60px;
}
.catalog h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color:#3fb843;
}
.custom-select {
    position: relative;
    width: 200px;
    font-family: sans-serif;
}
.select-selected {
    background: #fff;
    border: 2px solid #dcdcdc;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}
.select-selected:hover {
    border-color: #3fb843;
}
.select-selected::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    border: 6px solid transparent;
    border-top-color: #3fb843;
}
.select-items {
    position: absolute;
    background: #fff;
    border: 2px solid #3fb843;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    z-index: 99;
}
.select-items div {
    padding: 12px 15px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
}
.select-items div:hover {
    background: #e9ffe9;
}
.select-hide {
    display: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
.card img {
  width: 100%;
  height: auto;
}
.card h3 {
  margin-top: 10px;
  font-size: 18px;
}